{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .result {
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-x: auto;
      max-height: 800px;
    }
  </style>
{% endblock %}
{% block content %}
    <div class="col">
      <h3>Test</h3>
      <div id="upload-url-container">
        <form method="post" enctype="multipart/form-data">
          <input class="form-control mb-3" name="url" required>
          <input class="btn btn-primary" type="submit" value="Send link">
        </form>
      </div>
      <div id="result-execution-speed" class="result mt-2"></div>
      <pre id="result-upload" class="result mt-2"></pre>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    // Endpoints

    let upload_url = "{{ url_for('main.api_upload_url_test') }}";
    let listen_url = "{{ url_for('sse.stream') }}";

    // Elements

    let upload_url_container = document.getElementById("upload-url-container");
    let form_upload_url = upload_url_container.querySelector("form");
    let form_submit_btn = form_upload_url.querySelector("input[type=submit]");

    let result_execution_speed = document.getElementById("result-execution-speed");
    let result_upload = document.getElementById("result-upload");

    // Functions

    async function upload_url_submit(e) {
      e.preventDefault();
      result_execution_speed.innerHTML = '';
      result_upload.innerHTML = '';
      form_submit_btn.disabled = true;

      let url = form_upload_url.url.value;

      const response = await fetch(upload_url, {
        method: "POST",
        body: JSON.stringify({url: url}),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => { return response.json(); })
      .then(data => {
        console.log(data)
        const sse_stream_url = data.sse_stream_url;
        listen_upload(sse_stream_url, result_upload);
      })
      .catch(error => {
        console.error(error);
        result_upload.innerHTML = "Error";
        form_submit_btn.disabled = false;
      });
    }

    function listen_upload(listen_url, result_container) {
      const source = new EventSource(listen_url);
      const startTime = performance.now();

      source.addEventListener('message', event => {
        const data = JSON.parse(event.data)
        console.log(data);

        if (data.finished) {
          const endTime = performance.now();

          const ttfb_client = (endTime - startTime) / 1000;

          result_execution_speed.innerHTML = `Time to response:<br>TTFB: ${ttfb_client.toFixed(2)} s`;

          form_submit_btn.disabled = false;
          source.close();
        } else {
          result_upload.innerHTML = 'Upload status:<br>' + JSON.stringify(data, null, 2);
        }
      });

      source.addEventListener('error', error => {
        form_submit_btn.disabled = false;
        source.close();
        console.error(error);
      });
    }

    function main() {}
    
    main();

    // Event listeners

    form_upload_url.addEventListener("submit", upload_url_submit);

  </script>
{% endblock %}
