{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="col">
      <h3>Test</h3>
      <div id="upload-url-container">
        <form method="post" enctype="multipart/form-data">
          <input class="form-control mb-3" name="url" required>
          <input class="btn btn-primary" type="submit" value="Send link">
        </form>
      </div>
      <div id="result-execution-speed" class="result mt-2"></div>
      <div id="result-upload-url" class="row result mt-2">
        <pre id="result-tebi" class="col"></pre>
        <pre id="result-ordinary" class="col"></pre>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    // Endpoints

    let upload_url = "{{ url_for('main.api_upload_url_test') }}";

    // Elements

    let upload_url_container = document.getElementById("upload-url-container");
    let form_upload_url = upload_url_container.querySelector("form");
    let form_submit_btn = form_upload_url.querySelector("input[type=submit]");
    
    let result_execution_speed = document.getElementById("result-execution-speed");
    let result_upload_url = document.getElementById("result-upload-url");
    let result_ordinary = document.getElementById("result-ordinary");
    let result_tebi = document.getElementById("result-tebi");


    // Functions

    function upload_url_submit(e) {
      e.preventDefault();
      result_execution_speed.innerHTML = '';
      result_ordinary.innerHTML = 'Loading...';
      result_tebi.innerHTML = 'Loading...';
      form_submit_btn.disabled = true;

      let url = form_upload_url.url.value;
      const startTime = performance.now();

      fetch(upload_url, {
        method: "POST",
        body: JSON.stringify({url: url}),
        headers: {
            'Content-Type': 'application/json'
        }
      })
      .then(response => {
        const endTime = performance.now();

        const ttfb_client = (endTime - startTime) / 1000;
        const ttfb_server = response.headers.get("X-TTFB");
        const latency = ttfb_client - ttfb_server;

        result_execution_speed.innerHTML = `Time to main host:<br>TTFB: ${ttfb_client.toFixed(2)} s <br>Latency: ${latency.toFixed(2)} s`;
        
        return response.json()
      })
      .then(data => {
        form_submit_btn.disabled = false;
        result_tebi.innerHTML = 'Tebi:<br>' + JSON.stringify(data.tebi, null, 2);
        result_ordinary.innerHTML = 'Ordinary:<br>' + JSON.stringify(data.ordinary, null, 2);
      })
      .catch(error => {
        console.error(error);
        result_upload_url.innerHTML = "Error";
        form_submit_btn.disabled = false;
      });
    }

    // Event listeners

    form_upload_url.addEventListener("submit", upload_url_submit);

  </script>
{% endblock %}
