Flask[async]==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-APScheduler==1.12.4
psycopg2-binary==2.9.6
aiohttp==3.8.4
flask-cors==3.0.10
tldextract==3.4.0
geopy==2.3.0
gunicorn==20.1.0
gevent==22.10.2
eventlet==0.30.2
boto3==1.26.129
Flask-SSE==1.0.0
uuid==1.30
celery==5.2.7

flake8
autopep8
